html {
    overflow-y: scroll;
}
body {
    -webkit-font-smoothing: antialiased;
    color: rgb(76, 76, 76);
    background-color: rgb(249, 249, 249);
    margin: 30px;
}
audio {
  visibility: hidden;
}
#menu {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(249, 249, 249, 0.8);
  padding: 10px 0px;
}
#control {
  float: left;
  text-align: left;
}
#info {
  float: right;
  text-align: right;
  margin: 0px 30px;
}
.label {
  color: rgb(249, 249, 249);
  background-color: rgb(76, 76, 76);
  padding: 2px 6px;
  border-radius: 15px;
  font-family:'Helvetica Neue', Helvetica, sans-serif;
  font-weight: bold;
}
#wrapper {
  max-width: 600px;
  margin: 0px auto;
}
#content {
  max-width: 600px;
  margin: 40px auto;
}
h1 {
    font-family:'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 100;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
h3 {
    font-family:'Helvetica Neue', Helvetica, sans-serif;
    font-size: 24px;
}
h4 {
    font-family:'Helvetica Neue', Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}
p {
    font-family:'PT Serif', Georgia, serif;
    font-size: 20px;
    word-wrap:break-word;
}
a {
 color: #1a4876;
}
.to_me {
    background-color: white;
    padding:20px;
}
.from_me {
    background-color: rgb(106, 106, 106);
    color: rgb(249, 249, 249);
    padding:20px;
}
.input {
    border: 2px solid rgb(106, 106, 106);
    background-color: white;
    padding:20px;
    outline:none;
    transition: all 1s;
    min-height: 70px;
    box-sizing: border-box;
}
.locked {
  border: 2px solid rgb(176, 176, 176);
  background-color: rgb(249, 249, 249);
}